/*This file is specifically for styling elements brought in via the NRC API 
* https://transparency.nrchealth.com/documentation?o=vancouver-clinic
*/ 

.provider-page-hero > .page-section-content.vc_row-fluid {
    padding: 2.6% 0;
}
.ds-summary.provider-header, .ds-summary.service-header{

    font-size: 1rem;

    text-align: center;
    color:white;
    a {
        color:white;
    }
    .ds-stars {
        margin:auto;
    }

    .ds-ratings {
        font-size:.9em;
    }
    .ds-average-max {
        color:white;
    }

    .provider-header-info {
        max-width:250px;
        margin:auto;
        display:flex;
        justify-content: space-between;
        .ds-comment {
            min-width: 0px;
            max-width:none;
        }
    }
}

//Adjust anchor
#nrc-comments {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.nrc-comments {
    padding:0px 15px;
    padding-bottom:1.8rem;
    margin-top:1.9rem;
    margin-bottom:4.6rem;
    border-bottom:1px solid #EEEEEE;
    h3 {
        font-size: 1.75rem;
        font-weight:600;
        margin-bottom:1.5em;
    }
    .ds-commentprefix {
        display:none;
    }
    .ds-lcol {
        text-align: center;
        width:120px;
        .ds-stars {
            margin:auto;
        }
        .ds-date {
            font-size:100%;
            font-size:.875rem;
        }
    }
    .ds-rcol, .ds-rcol p {
        font-size:.875rem;
    }
    .ds-rcol {
        margin-left: .625rem;
    }
    hr.ds-divider {
        border:none!important;
    }

    .survey-link {
        margin:auto;
        text-align: center;
        font-size:.9rem;
        display: block;
    }
}


.ds-summary.service-header .ds-title, 
.ds-summary.service-header .ds-comments {
  display:none;
}

.rating-bar		{
    background: url(http://findicons.com/files/icons/2534/aroma/24/star_rating_empty.png); 
    width:120px !important; 
    height:23px; 
    // float:left; 
    display:inline-block;
    margin-top:-3px;
    > div {
        background: url(http://findicons.com/files/icons/2534/aroma/24/star_rating_full.png); height:23px; 
        margin: 0px;
    }
}



