/*This file is specifically for styling elements brought in via the NRC API 
* https://transparency.nrchealth.com/documentation?o=vancouver-clinic
*/
.provider-page-hero > .page-section-content.vc_row-fluid {
  padding: 2.6% 0;
}

.ds-summary.provider-header, .ds-summary.service-header {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.ds-summary.provider-header a, .ds-summary.service-header a {
  color: white;
}

.ds-summary.provider-header .ds-stars, .ds-summary.service-header .ds-stars {
  margin: auto;
}

.ds-summary.provider-header .ds-ratings, .ds-summary.service-header .ds-ratings {
  font-size: .9em;
}

.ds-summary.provider-header .ds-average-max, .ds-summary.service-header .ds-average-max {
  color: white;
}

.ds-summary.provider-header .provider-header-info, .ds-summary.service-header .provider-header-info {
  max-width: 250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.ds-summary.provider-header .provider-header-info .ds-comment, .ds-summary.service-header .provider-header-info .ds-comment {
  min-width: 0px;
  max-width: none;
}

#nrc-comments {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.nrc-comments {
  padding: 0px 15px;
  padding-bottom: 1.8rem;
  margin-top: 1.9rem;
  margin-bottom: 4.6rem;
  border-bottom: 1px solid #EEEEEE;
}

.nrc-comments h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.nrc-comments .ds-commentprefix {
  display: none;
}

.nrc-comments .ds-lcol {
  text-align: center;
  width: 120px;
}

.nrc-comments .ds-lcol .ds-stars {
  margin: auto;
}

.nrc-comments .ds-lcol .ds-date {
  font-size: 100%;
  font-size: .875rem;
}

.nrc-comments .ds-rcol, .nrc-comments .ds-rcol p {
  font-size: .875rem;
}

.nrc-comments .ds-rcol {
  margin-left: .625rem;
}

.nrc-comments hr.ds-divider {
  border: none !important;
}

.nrc-comments .survey-link {
  margin: auto;
  text-align: center;
  font-size: .9rem;
  display: block;
}

.ds-summary.service-header .ds-title,
.ds-summary.service-header .ds-comments {
  display: none;
}

.rating-bar {
  background: url(http://findicons.com/files/icons/2534/aroma/24/star_rating_empty.png);
  width: 120px !important;
  height: 23px;
  display: inline-block;
  margin-top: -3px;
}

.rating-bar > div {
  background: url(http://findicons.com/files/icons/2534/aroma/24/star_rating_full.png);
  height: 23px;
  margin: 0px;
}
/*# sourceMappingURL=nrc.css.map */